## Objetctive est de prédire le prix d'un Airbnb

## Importer les bibliotheque

In [ ]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as  plt 

import  seaborn as sns 

##  diviser mon dataset pour les entrainé et testé 
from sklearn.model_selection import train_test_split



from  sklearn.linear_model import LinearRegression

from sklearn.preprocessing import LabelEncoder

## Charger mon dataset

In [ ]:
df = pd.read_csv("D:\ProjetPerso\Projet_IA_airbnbGit\AB_NYC_2019.csv")

df.head()

## Analyser  et traiter mes données

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.columns.to_list()

In [ ]:
print("ligne_colonne:" , df.shape , "  ", "size :" , df.size )

a ) Analyser les colonnes

In [ ]:
#Nombre de données manquantes par colonnes

df['reviews_per_month'].isnull().sum()

df.isnull().sum().sum()

df.isnull().sum().sort_values(ascending=False)

In [ ]:
#Obtenir une liste des colonnes avec des données manquantes

column_valeur_maquantes = df.columns[df.isnull().any()]
column_valeur_maquantes

In [ ]:
#afficher les colonnes des données maquantes avec leurs valeur 

for column in column_valeur_maquantes :
    print(column , df[column].isnull().sum())

In [ ]:
df.shape

b) Supprimer les colonnes de la dataframe avec plus de 50% de données manquantes en utiliser la fonction pandas drop()

In [ ]:
for column in column_valeur_maquantes : 
    if df[column].isnull().sum() * 100 / df.shape[1] > 50 :
        df.drop(column ,axis=1 , inplace=True)

In [ ]:
df.shape

In [ ]:
df.isnull().sum().sort_values(ascending=False)
df.isnull().sum().sum()

c) Analyser les lignes

In [ ]:
#trouver les lignes avec des données maquantes 
df.isnull().sum(axis=1)

In [ ]:
#Obtenir une liste des lignes avec des données manquantes

donne_manquate_ligne =df.index[df.isnull().any(axis=1)]
donne_manquate_ligne

In [ ]:
#Nombre de données manquantes par lignes

df.isnull().sum(axis=1).sort_values(ascending=False)

b) Supprimer les lignes avec des données manquantes

In [ ]:
df.drop(donne_manquate_ligne, axis= 0 , inplace=True)

In [ ]:
df.shape

In [ ]:
#les données maquantes
df.isnull().sum().sum()

In [ ]:
# voir le type des serie 

df.dtypes

## Comprendre les données

In [ ]:
# id : identifiant
# name : nom
# host_id : identifiant de l'hôte
# host_name : nom de l'hôte
# neighbourhood_group : groupe de quartiers
# neighbourhood : quartier
# latitude : latitude
# longitude : longitude
# room_type : type de chambre
# price : prix
# minimum_nights : nombre minimum de nuits
# number_of_reviews : nombre d'avis
# last_review : dernier avis
# reviews_per_month : avis par mois
# calculated_host_listings_count : nombre d'annonces calculées par l'hôte
# availability_365 : disponibilité pour 365 jours

## Analyser et comprendre les valeur catégorials

In [ ]:
df["neighbourhood_group"].value_counts()

# Créer une palette de couleurs personnalisée
custom_palette = sns.color_palette("husl", df['neighbourhood_group'].nunique())


ax= sns.countplot(x="neighbourhood_group" , data=df ,palette= custom_palette )

In [ ]:
df["neighbourhood"].value_counts()

ax= sns.countplot(x="neighbourhood" , data=df)

In [ ]:
df["room_type"].value_counts()

# Créer une palette de couleurs personnalisée
custom_palette = sns.color_palette("husl", df['room_type'].nunique())


ax= sns.countplot(x="room_type" , data=df ,  palette= custom_palette)

In [ ]:
ax= sns.boxplot(x="room_type" , y="availability_365" , data=df)

In [ ]:
# fig = px.scatter(df, x='longitude', y='latitude',
#                  color='neighbourhood_group') # Added color to previous basic 
# fig.update_layout(xaxis_title="longitude",yaxis_title="latitude")
# fig.show()

In [ ]:
df["minimum_nights"].describe()

In [ ]:
df.dtypes

## Modification des types des colonnes

In [ ]:
label_encoder = LabelEncoder()



df['neighbourhood_group_encoded']= label_encoder.fit_transform(df['neighbourhood_group'])



df["neighbourhood_Encoded"]= label_encoder.fit_transform(df["neighbourhood"])


df["room_type_Encoded"]= label_encoder.fit_transform(df["room_type"])

In [ ]:
df.dtypes

In [ ]:
df.drop(['neighbourhood_group', 'neighbourhood', 'room_type'], axis=1, inplace=True)

df.dtypes

df.columns

Enlever les Valuer extraime

In [163]:
# Affichage des statistiques descriptives avant suppression des valeurs aberrantes
df["price"].describe()

# Calcul des quartiles et de l'IQR
Q1 = df['price'].quantile(0.25)
Q3 = df['price'].quantile(0.75)
IQR = Q3 - Q1


# Définir les limites inférieure et supérieure
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

#Filtrer les données pour supprimer les valeurs aberrantes
df_filtered_price = df[(df['price'] >= lower_bound) & (df['price'] <= upper_bound)]

df_filtered_price['price'].describe()

df_filtered_price.sort_values(by="price" , ascending=False)

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365,neighbourhood_group_encoded,neighbourhood_Encoded,room_type_Encoded
2158,995367,412783,40.73506,-73.99728,334,11,14,1,238,2,92,0
19641,15728780,148108,40.72297,-73.98946,333,1,40,2,62,2,119,1
13798,10403199,29065752,40.71863,-73.94528,333,7,0,1,365,1,214,0
15150,12093494,62031986,40.75237,-73.98769,333,1,246,1,323,2,127,0
38565,30327469,224001464,40.73734,-73.99327,333,4,4,1,80,2,34,0
...,...,...,...,...,...,...,...,...,...,...,...,...
26259,20933849,13709292,40.75091,-73.97597,0,3,0,1,0,2,137,0
25795,20639792,86327101,40.68279,-73.91170,0,1,95,6,232,1,13,1
25794,20639628,86327101,40.68173,-73.91342,0,1,93,6,176,1,13,1
25634,20523843,15787004,40.69467,-73.92433,0,2,16,5,0,1,28,1
25433,20333471,131697576,40.83296,-73.88668,0,2,55,4,127,0,62,1

In [164]:
# Affichage des statistiques descriptives avant suppression des valeurs aberrantes
df["minimum_nights"].describe()

# Calcul des quartiles et de l'IQR
Q1 = df['minimum_nights'].quantile(0.25)
Q3 = df['minimum_nights'].quantile(0.75)
IQR = Q3 - Q1


# Définir les limites inférieure et supérieure
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

#Filtrer les données pour supprimer les valeurs aberrantes
df_filtered =  df[(df['minimum_nights'] >= lower_bound) & (df['minimum_nights'] <= upper_bound) ]

In [ ]:
df_filtered.describe()

In [ ]:
#tracer un graphe pour voir les colonne important 

plt.figure(figsize=(10, 7))

sns.pairplot(df_filtered , x_vars=['latitude', 'longitude', 'minimum_nights','number_of_reviews', 'calculated_host_listings_count','availability_365', 'neighbourhood_group_encoded','neighbourhood_Encoded', 'room_type_Encoded'], y_vars=["price"] )

plt.show()

In [ ]:
# Créer une matrice de corrélation
X_corrélation  =df[['latitude', 'longitude', 'minimum_nights','number_of_reviews', 'calculated_host_listings_count','availability_365', 'neighbourhood_group_encoded','neighbourhood_Encoded', 'room_type_Encoded', "price"]]

X_corrélation= X_corrélation.corr()

# Tracer la matrice de corrélation
plt.figure(figsize=(10, 8))
sns.heatmap(df_filtered, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Matrice de corrélation')
plt.show()

## Diviser mon dataframme

In [ ]:
x= df_filtered.drop('price' , axis=1)
y=df_filtered["price"]

x , y 

x_train , y_train , x_test, y_test = train_test_split( x, y, test_size = 0.2 ,  random_state=0)

## Création de moodel

In [ ]:
model = LinearRegression()
model

Entrainement des données

In [ ]:
model.fit(x_train , y_train)